/Atuendo.class
/Categoria.class
/Color.class
/Gratuito.class
/Guardarropa.class
/Material.class
/Premium.class
/Prenda.class
/Ropa.class
/TipoDeUsuario.class
/TipoPrenda.class
/Usuario.class
/Adapter.class
/ClimaticaAdaptado.class
/APIClimatica.class
/ClimaAdaptado.class
/TipoDeRopa.class
/Abrigo.class
