<html>
<head>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet"  href="public/main.css">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="">
    <div class="container">
      <div class="navbar-header">
      	<a> <img src="https://img.icons8.com/color/48/000000/t-shirt.png"> </img> </a>
        <a class="navbar-default "href="/"> <font size="5"> <strong> Que me pongo? </strong> </font> </a>
      </div>
    </div>
 </nav>

<div class="container" align="left">
	{{#block "contenido"}}
	{{/block}}
</div>

<footer class="footer">
    <p class="text-center">
      &copy; 2019 DDS, Inc
    </p>
</footer>

</body>
</html>