<html>
<head>
	<meta charset="utf-8">
	<title> Bienvenido Usuario </title>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet"  href="public/main.css">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	<link href="daterangepicker.css" rel="stylesheet"/>
	
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="">
    <div class="container">
      <div class="navbar-header">
      	<a> <img src="https://img.icons8.com/color/48/000000/t-shirt.png"> </img> </a>
        <a class="navbar-default "href="/"> <font size="5"> <strong> Que me pongo? </strong> </font> </a>
      </div>
    </div>
 </nav>
 
 <div class="container"> 
  		<div class="row">
  			<ul class="nav nav-pills nav-justified">
            	<li class="nav-item"> <a class="nav-link active" href="/clientes/{{id}}/guardarropas">Guardarropas</a> </li>
            	<li class="nav-item"> <a class="nav-link active" href="/clientes/{{id}}/eventos" >Eventos</a> </li>
        	</ul>
		</div>			
	</div>
	
	<div class="container">
      <div class="row">
        <div class="col-md-12 p-4" style="	box-shadow: 0px 0px 4px  black;	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://pingendo.com/site-assets/cover.jpg);	background-position: top left, top left;	background-size: 100%, 100%;	background-repeat: repeat, repeat;"></div>
	  </div>
	</div>

<div class="container" align="left">
	{{#block "contenido"}}
	{{/block}}
</div>

<footer class="footer">
    <p class="text-center">
      &copy; 2019 DDS, Inc
    </p>
</footer>

</body>
</html>