#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0cca68dd-f3bd-42b3-a0ec-cecb8c12f204 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}