{{#partial "contenido"}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>


	<div class="container">
		<h3 class="mb-3">Crear evento</h3>
        <form action="/eventos/alta" method="post">
	        
	        <div class="form-row">
	        	<label for="picker" class="control-label col-md-2"> <strong> <font size="3"> Fecha: </font> </strong> &nbsp &nbsp </label>
	        	<div class="col-md-10">
	        		<input data-date-format="dd/mm/yyyy" id="datepicker">
	        	</div>
	        	<br/>
	        </div>
	        
	        <div class="form-row">
	        <br/>
	        </div>
	        	
		    <div class="form-row">
	        	<label for="nombreEvento" class="control-label col-md-2"> <strong> <font size="3"> Nombre: </font> </strong> &nbsp &nbsp </label>
	        	<div class="col-md-10">
	        		<input type="text" name="nombreEvento" class="form-control" placeholder="Nombre" required>
	        	</div>
	        	<br/>
	        </div>      
	        
	       <div class="form-row">
	        <br/>
	        </div>
		            
	        <div class="form-row">
	        	<label for="estilo" class="control-label col-md-2"> <strong> <font size="3"> Estilo: </font> </strong> &nbsp &nbsp </label>
	        	<div class="col-md-10">
		        	<select class="form-control" id="estilo" name="estilo">
		               <option value="">Formal</option>
		               <option value="">Casual</option>
		               <option value="">Deportivo</option>
		               <option value="">Elegante</option>
		               <option value="">Elegante Sport</option>
			        </select>
		        </div>
		        <br/>
	        </div>   	
	              
	  		
	  		<br/><br/><br/>
	  		
	  		<div class="col-sm-6">
	              	<button type="submit" class="btn btn-secondary" onclick="location.href='/eventos'" >Cancelar</button>
	        </div>	
	  		
	  		<div class="col-sm-6">
	              	<button type="submit" class="btn btn-primary" formmethod="post">
						Agregar
					</button>
			</div>
		</form>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style type="text/css">
        // solution 1:
        .datepicker {
            font-size: 0.875em;
        }
        /* solution 2: the original datepicker use 20px so replace with the following:*/
        
        .datepicker td, .datepicker th {
            width: 1.5em;
            height: 1.5em;
        }
        
    </style>
<script type="text/javascript">
    $('#datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker').datepicker("setDate", new Date());
</script>
<br/>
	
{{/partial}}

{{>layout.hbs}}