{{#partial "contenido"}}
<script src="https://cdnjs.coudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<div class="container">
		<h3 class="mb-3">Crear evento</h3>
        <form action="/eventos/alta" method="post">
	        
	        <div class="form-row">
	        	<label for="picker" class="control-label col-md-2"> <strong> <font size="3"> Fecha: </font> </strong> &nbsp &nbsp </label>
	        	<div class="col-md-10">
	        		<input type='date' id="picker" class="form-control" />
	        	</div>
	        	<br/>
	        </div>
	        
	        <div class="form-row">
	        <br/>
	        </div>
	        	
		    <div class="form-row">
	        	<label for="nombreEvento" class="control-label col-md-2"> <strong> <font size="3"> Nombre: </font> </strong> &nbsp &nbsp </label>
	        	<div class="col-md-10">
	        		<input type="text" name="nombreEvento" class="form-control" placeholder="Nombre" required>
	        	</div>
	        	<br/>
	        </div>      
	        
	       <div class="form-row">
	        <br/>
	        </div>
		            
	        <div class="form-row">
	        	<label for="estilo" class="control-label col-md-2"> <strong> <font size="3"> Estilo: </font> </strong> &nbsp &nbsp </label>
	        	<div class="col-md-10">
		        	<select class="form-control" id="estilo" name="estilo">
		               <option value="">Formal</option>
		               <option value="">Casual</option>
		               <option value="">Deportivo</option>
		               <option value="">Elegante</option>
		               <option value="">Elegante Sport</option>
			        </select>
		        </div>
		        <br/>
	        </div>   	
	              
	  		
	  		<br/><br/><br/>
	  		
	  		<div class="col-sm-6">
	              	<button type="submit" class="btn btn-secondary" onclick="location.href='/eventos'" >Cancelar</button>
	        </div>	
	  		
	  		<div class="col-sm-6">
	              	<button type="submit" class="btn btn-primary" formmethod="post">
						Agregar
					</button>
			</div>
		</form>
	</div>
	
{{/partial}}

{{>layout.hbs}}