{{#partial "contenido"}}


	<header>
	  <h1>Nueva Prenda</h1>
	</header>
	<p></p>}
	
	<link  href='/css/fullcalendar.css' rel='stylesheet' type="text/css" />
	<link href='/css/fullcalendar.print.css' rel='stylesheet' media='print' type="text/css" />
	<script rel="stylesheet" src='/js/jquery-1.10.2.js' type="text/javascript"></script>
	<script rel="stylesheet" src='/js/jquery-ui.custom.min.js' type="text/javascript"></script>
	<script rel="stylesheet" src='/js/fullcalendar.js' type="text/javascript"></script>



























































	<label>Nombre</label>
	<input class="form-control" type="text" style="width:40%" size="150" >
	<h3></h3>
	<label>Tipo De Prenda</label>
	<p></p>
	<select id="control_id">
		<option value="action">Action</option>
		<option value="another_action">Another action</option>
		<option value="something_else_here">Something else here</option>
	 </select> 
	 <h3></h3>
	<p>
	<label>Colores   </label>
	<p></p>
			<select id="control_id">
				<option selected disabled>Principal</option>
				<option value="action">Color1</option>
				<option value="another_action">Color2</option>
				<option value="something_else_here">Color3</option>
			</select> 
			<h3></h3>
			<select id="control_id">
				<option selected disabled>Secundario</option>
				<option value="action">Color1</option>
				<option value="another_action">Color2</option>
				<option value="something_else_here">Color3</option>
			</select>
			<h3></h3>
	 <p>
		<label>Material</label>
	 </p>

	 <p>
		<select id="control_id">
			<option selected disabled>Principal</option>
			<option value="action">Color1</option>
			<option value="another_action">Color2</option>
			<option value="something_else_here">Color3</option>
		 </select> 
	 </p>

	<label>Insertar Imagen</label></p>
	<p></p>
	 <input type="file" class="custom-file-input" id="inputGroupFile01"
	 aria-describedby="inputGroupFileAddon01">

	<p></p>
	<button class="button"> Aceptar </button>



{{/partial}}
{{>layout.hbs}}