{{#partial "contenido"}}

<div><p>
<form>
<p>
<label>Nombre</label></p>
<p>
<input class="form-control" type="text" style="width:40%" size="150" > </p>
<p>
<label>Tipo De Prenda</label></p>

<select id="control_id" class="form-control" style="width:150px">
    <option value="action">Action</option>
    <option value="another_action">Another action</option>
    <option value="something_else_here">Something else here</option>
 </select> 
<p>
<label>Colores   </label>
<p></p>
        <select id="control_id" class="form-control" style="width:150px">
            <option selected disabled>Principal</option>
            <option value="action">Color1</option>
            <option value="another_action">Color2</option>
            <option value="something_else_here">Color3</option>
         </select> 

         <select id="control_id" class="form-control" style="width:150px">
            <option selected disabled>Secundario</option>
            <option value="action">Color1</option>
            <option value="another_action">Color2</option>
            <option value="something_else_here">Color3</option>
         </select> 
  <p>
    <label>Material</label>
 </p>

 <p>
    <select id="control_id" class="form-control" style="width:150px">
        <option selected disabled>Principal</option>
        <option value="action">Color1</option>
        <option value="another_action">Color2</option>
        <option value="something_else_here">Color3</option>
     </select> 
 </p>

 <span>Insertar Imagen</span>
<p></p>
 <input type="file" class="custom-file-input" id="inputGroupFile01"
 aria-describedby="inputGroupFileAddon01">

<p></p>
<button class="button">Cancelar</button>
<button class="button"> Aceptar </button>

</form>

</div>
{{/partial}}

{{>layout.hbs}}