{{#partial "contenido"}}

        <header>
            <h1>Que me pongo? - Guardarropas</h1>

        </header>
        
        <div><p>
            <h2>Atuendos por calificar</p></h2> <br/>
            
                <table id="t01">
                    <tr>
                      <th>Atuendo</th>
                      <th>Evento</th> 
                      <th>Calificacion</th>
                    </tr>
                    <tr>
                        <form>
                        <td>Atuendo veraniego</td>
                        <td>Playa del sabado</td>
                        <td><select name="Temperatura" required>
                            <option value="">Elija una opci칩n...</option>
                            <option value="Muy caluroso">Muy caluroso</option>
                            <option value="Caluroso">Caluroso</option>
                            <option value="Bien">Bien</option>
                            <option value="Fresco">Fresco</option>
                            <option value="Frio">Frio</option>
                        </select>
                        <button class="button">Calificar</button></td>
                        </form>
                    </tr>
                    <tr>
                        <form>
                        <td>Traje elegante</td>
                        <td>Cumplea침os de 15</td>
                        <td><select name="Temperatura" required>
                            <option value="">Elija una opci칩n...</option>
                            <option value="Muy caluroso">Muy caluroso</option>
                            <option value="Caluroso">Caluroso</option>
                            <option value="Bien">Bien</option>
                            <option value="Fresco">Fresco</option>
                            <option value="Frio">Frio</option>
                            </select><button class="button">Calificar</button></td>
                        </form>
                    </tr>
                    <tr>
                        <form>
                        <td>Ropas de calle</td>
                        <td>Cumple en lo de Juan</td>
                        <td><select name="Temperatura" required>
                            <option value="">Elija una opci칩n...</option>
                            <option value="Muy caluroso">Muy caluroso</option>
                            <option value="Caluroso">Caluroso</option>
                            <option value="Bien">Bien</option>
                            <option value="Fresco">Fresco</option>
                            <option value="Frio">Frio</option>
                            </select><button class="button">Calificar</button></td>
                        </form>
                    </tr>
                </table>
            
        </div>
{{/partial}}

{{>layout.hbs}}
