{{#partial "contenido"}}

        <header>
            <h1>Que me pongo? - Calificaciones</h1>

        </header>
        
        <div><p>
            <h2>Atuendos por calificar</p></h2> <br/>
            <div class="row">
			<div class="col-md-12 block-center">
			<h2>{{nombre}}</h2> </p> 
				<ul class="list-group">
					{{#each evento}}
					<div class="list-group-item">
						<tr>
							<h4><td>{{ nombre }}</td></h4> 
							<p>  
								<div>
                                    <h6>Prendas: </h6>
                                    {{#each prendasUltimoAtuendo}}

                                    <h6> {{nombrePrenda}}</h6>
                                    {{/each}}
									<form>
										<td><select name="Temperatura" required> 
										<option value="">Elija una opción...</option> 
										<option value="Muy caluroso">Muy caluroso</option> 
										<option value="Caluroso">Caluroso</option> 
										<option value="Bien">Bien</option> 
										<option value="Fresco">Fresco</option> 
										<option value="Frio">Frio</option> 
										</select><button class="button">Calificar</button></td> 
									</form> 
                                </div>

							</p>
						</tr>
					</div>
					{{/each}}
				</ul>
			</div>
		</div>
                
            
        </div>
{{/partial}}

{{>layout.hbs}}
