{{#partial "alerta"}}

<br>
<div>
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Usuario o contraseña incorrecto :v
</div>

{{/partial}}
{{>home/login2.hbs}}