{{#partial "alerta"}}

<br>
<div>
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usuario o contraseña incorrecto </span>
  
</div>

{{/partial}}
{{>home/login3.hbs}}