{{#partial "contenido"}}
        <header>
            <h1>Que me pongo? - Guardarropas</h1>

        </header>
        
        <div><p>
            <h2>Guardarropas<button class="button">Nuevo guardarropas</button></p></h2> <br/>
            <form>
                <table id="t01">
                    <tr>
                      <th>Guardarropas</th>
                      <th>Estilo</th> 
                      <th>Cantidad de prendas</th>
                      <th>Usuarios con acceso</th>
                    </tr>
                    <tr>
                      <td>Guardarropas de fiesta</td>
                      <td>Elegante</td>
                      <td>8</td>
                      <td>Romina Malavio, Julieta Ramirez, Marina Slavich</td>
                    </tr>
                    <tr>
                        <td>GYM</td>
                        <td>Deportivo</td>
                        <td>25</td>
                        <td>Daiana Blanco, Marina Slavich</td>
                    </tr>
                    <tr>
                        <td>Casas de amigos</td>
                        <td>Casual</td>
                        <td>30</td>
                        <td>Maria Lazarte</td>
                    </tr>
                </table>
            </form>
        </div>
    
	
{{/partial}}

{{>layout.hbs}}