<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Qué me pongo?</title>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<style>
header{
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #ffcf7a;
  position: center;
  width: 100%;
  padding: 10px;
  height: 20xp;
  box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.75);
  border: 5px solid white;
}
.button {
font-family: Arial, Helvetica, sans-serif;
  background-color: #ffcf7a;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

	
</style>

<header>
  <h1>Que me pongo?</h1>
</header>

<div><p>
<h2>Iniciar sesion</h2> <br/>
<form>
<p>
<label>Nombre de usuario</label></p>
<p>
<input id="username" class="form-control" name="usuario" placeholder="Usuario" type="text" style="width:90%" required> </p>
<p>
<label>Contrasenia</label></p>

<input id="inputPassword" class="form-control" name="contraseña" type="password" style="width:90%" required>


<p>
<label>No tiene una cuenta?    </label>
<button class="button">Registrarse</button></p>

<p>

<button class="button" y> Log in </button></p>

</form>

</div>

</body>
</html> 
