<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Qué me pongo?</title>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<style>
header{
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #ffcf7a;
  position: center;
  width: 100%;
  padding: 10px;
  height: 20xp;
  box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.75);
  border: 5px solid white;
}
.button {
font-family: Arial, Helvetica, sans-serif;
  background-color: #ffcf7a;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
div {
font-family: Arial, Helvetica, sans-serif;
  background-color:  #e7e7e7;
  width: 50%;
  border: 5px solid #ffcf7a;
  padding: 2%;
  margin: 8%;
  position: relative;
}
body{
  background-image: url(https://images.clarin.com/2019/04/03/raz35kphT_1256x620__1.jpg);
}
	
</style>

<header>
  <h1>Qué me pongo?</h1>
</header>

<div><p>
<h2>Iniciar sesión</h2> <br/>
<form>
<p>
<label>Nombre de usuario</label></p>
<p>
<input class="input" type="text" style="width:90%" required> </p>
<p>
<label>Contraseña</label></p>

<input class="input" type="password" style="width:90%" required>


<p>
<label>¿No tiene una cuenta?    </label>
<button class="button">Registrarse</button></p>

<p>

<button class="button"> Log in </button></p>

</form>

</div>

</body>
</html> 
