{{#partial "contenido"}}
        <header>
            <h1>Que me pongo? - Prendas</h1>
        </header>
		
		<div class="row">
			<div class="col-md-12 block-center">
			<h2>{{nombre}}</h2> </p> 
				<ul class="list-group">
					{{#each prendasDisponibles}}
					<div class="list-group-item">
						<tr>
							<h4><td>{{ nombre }}</td></h4> 
							<p> 
								<h6> tipo de ropa: {{ TipoDeRopa.nombre }} </h6>
								<h6> Color primario: {{ colorPrimario }} </h6>
								<h6> Color secundario: {{ colorSecundario }}</h6>
								<h6> Material: {{ Material.nombre }}</h6>
							</p>
						</tr>
					</div>
					{{/each}}
				</ul>
			</div>
		</div>

		<div>
    
	
{{/partial}}
{{>layout.hbs}}