{{#partial "contenido"}}

        <header>
            <h1>Que me pongo? - Recomendacion</h1>

        </header>
      

        <h2>Sugerencia para este evento</h2>


        <div>
          <br></br>
          <h6>Prendas: </h6>
            {{#each prendasUltimaSugerencia}}
              <h6> {{nombrePrenda}}</h6>
            {{/each}}
          <br></br>
        </div>
            

        <div>

        <table class="table  table-dark table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td><form>
            <a class="btn btn-primary" href="/sugerencias" role="button">Ver sugerencia</a></form></td>
                <td><form>
            <a class="btn btn-primary" href="/verRecomendacion" role="button">Ver sugerencia</a></form></td>
                <td><form method="POST" action="/verRecomendacion" align="left">
            <a class="btn btn-primary" href="/verRecomendacion" role="button">Ver sugerencia</a></form></td>
              </tr>
          </tbody>
        </table>


<br></br>
  </div>


{{/partial}}

{{>layout.hbs}}
