{{#partial "contenido"}}

<style>
input[type="date"]::-ms-clear{
   display: none;
}

header{
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #ffcf7a;
  position: center;
  width: 100%;
  padding: 10px;
  height: 20xp;
  box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.75);
  border: 5px solid white;
}
.button {
font-family: Arial, Helvetica, sans-serif;
  background-color: #ffcf7a;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
div {
font-family: Arial, Helvetica, sans-serif;
  background-color:  #e7e7e7;
  width: 50%;
  border: 5px solid #ffcf7a;
  padding: 2%;
  margin: 8%;
  position: relative;
}
body{
  background-image: url(https://images.clarin.com/2019/04/03/raz35kphT_1256x620__1.jpg);
}
</style>

<header>
  <h1>Calendario</h1>
</header>

<p></p>

<p>
<label>Seleccionar fecha</label>
</p>

<p>
<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31"
	   style="width:40%"
	   size="150">
</p>

<p></p>

<button class="button"> Suguiente </button>


{{/partial}}
{{>layout.hbs}}
