{{#partial "contenido"}}

<header>
  <h1>Calendario</h1>
</header>

<br/>

<div class="form-row">
	<h3 class="mb-3">Seleccione la fecha</h3>
	
    <form action="./eventos/info" method="get">
        <div class="form-group">
        	<div class="container">
    			<div class="row">
			        <div class='col-sm-6'>
			            <div class="form-group">
			                <div class='input-group date' id='idfecha'>
			                    <input type='text' class="form-control" name="fecha" required/>
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
			        </div>
			        <script type="text/javascript">
			            $(function () {
			                $('#idfecha').datetimepicker();
			            });
			        </script>
	    		</div>
			</div>	
			<br/>
			<button type="submit" formmethod="get" class="btn btn-block btn-primary">
				Seleccionar
			</button>	
  		</div>
	</form>
</div>


{{/partial}}
{{>layout.hbs}}
